<p>To create a new reservation, <%= link_to "choose a restaurant", root_path %> from the home page.</p>

<ul>
  <% @restaurants.each do |resto| %>
  <li>
    <h3><%= link_to resto.name, resto %></h3>
    <p>
      <strong>Price:</strong>
      <% resto.price.times do %>
        $
      <% end %>
    </p>
    <p>
      <strong>Location:</strong>
      <%= resto.location %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= resto.description %></p>
  </li>
  <% end %>
</ul>
